header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 5px 0;
  .header_inner_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_wrap {
      display: block;
      width: 70px;
      height: 70px;
      transition: 0.5s all ease-in-out;
      position: relative;
      transform: translateX(150px);
      img {
        transition: 0.5s all ease-in-out;
        opacity: 0;
        visibility: hidden;
      }
      &::before,
      .logo_before {
        // content: "";
        position: absolute;
        width: 220px;
        height: 9px;
        display: block;
        background-color: $color-white;
        top: 50%;
        right: calc(100% + 10px);
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.5s all ease-in-out;
        transform-origin: left;
      }
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        li {
          & + li {
            margin-left: 40px;
          }
          a {
            @include fontFace(16px, 1.2, 400, $color-white);
            transition: 0.3s all ease-in-out;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:hover {
              @include above($tablet-lg) {
                color: var(--feat-color);
              }
            }
          }
        }
      }
    }
  }
}
.stickyheader {
  header .header_inner_wrap .logo_wrap {
    transform: translateX(0);
    img {
      visibility: visible;
      opacity: 1;
    }
  }
}
