.title_primary {
  @include fontFace(90px, 1.2, 500, $color-white);
  @include below($desktop-lg) {
    font-size: 75px;
  }
  @include below($tablet-sm) {
    font-size: 60px;
  }
  @include below($mobile-lg) {
    font-size: 40px;
  }
}
